header {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
    border-bottom: 1px black solid;
    align-content: space-around;
    justify-content: space-around;
}
.logo {
    display: flex;
    align-self: start;
    margin-left: 50px;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 50px;
    
}
.menu-items :nth-child(n){
    margin-left: 10px;
}
.search-bar {
    display: flex;
    align-content: center;
    justify-content: center;
}

#menu-search {
    height: 29px;
    width: 215px;
    border-radius: 3px;
    margin-left: 100px;
    background: #fafafa;
    border: 1px solid rgba(219, 219, 219, 1);
    text-align: center;
    background-position-x: 35%;
    background-position-y: 50%;
    background-image: url('images/search.svg');
    background-repeat: no-repeat;      
}
.main-frame {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
}
.profile-frame {
    height: 40%;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 25px 50px 25px 50px 1fr 2fr 25px;
    grid-template-columns: 30% 70%;
    align-content: center;
    justify-content: start;
    border-bottom: black 1px solid;
}
.profile-content {
    grid-column-start: 2;
    grid-row-start: 2;
}

.instagram-text {
    grid-column-start: 2;
    grid-row-start: 2;
    display: inline-flex;
    align-self: center;
    justify-self: start;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
}
.profile-buttons {
    grid-column-start: 2;
    grid-row-start: 2;
    display: inline-flex;
    align-self: center;
    justify-self: start;
    margin-left: 100px;
}
.PM-withCircle {
    position: relative;
}
.blue-circle {
    height: 30px;
    width: 30px;
    background-color: rgba(64, 148, 239, 1);
    border-radius: 50%;
    display: inline-flex;

}
.dot {
    height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -5px;
  top: -5px;
  text-align: center;
  font-style: Helvetica Neue;
  color: #fafafa;
  font-size: small;


}
#profile-picture {
    display: inline;
    padding-top: 25px;
    grid-row-start: 1;
    grid-row-end:6;
}
.follow-button {
    width: 96px;
    height: 28px;
    background: #4094EF;
    border-radius: 3px;
    border-color: #4094EF;
    text-align: center;
    color: #ffffff;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    
}
.small-button {
    width: 33px;
    height: 28px;
    left: 762px;
    top: 90px;
    background: #4094EF;
    border-radius: 3px;
    border-color: #4094EF;
    background-image: url('images/second-button.svg');
    background-repeat: no-repeat;
    text-align: center;
    background-position-x: 50%;
    background-position-y: 50%;
}
.black-dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}
.profile-buttons :nth-child(n) {
    margin-right: 10px;
}
.black-text {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}
.profile-followers {
    grid-column-start: 2;
    grid-row-start: 4;
}
.profile-followers :nth-child(n) {
    margin-right: 80px;
}
.profile-info {
    display: grid;
    grid-row-start: 5;
    grid-column-start: 2;
}
.profile-content {
    align-self: center;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}
.other-pictures {
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}
.picture-1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}
.black-text1 {
    display: inline;
    align-self: flex-end;
    justify-self: flex-start;
}

