.menu{
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    overflow: hidden;
    padding: 24px;
}
body
{
    background-color:white;
}
#menu-search {
    position: absolute;
    left: 45%;
    height: 29px;
    width: 215px;
    top: 8px;
    border-radius: 3px;
    background: #fafafa;
    border: 1px solid rgba(219, 219, 219, 1);
    text-align: center;
    background-position-x: 35%;
    background-position-y: 50%;
    background-image: url('images/search.svg');
    background-repeat: no-repeat;
}
