header {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
    border-bottom: 1px black solid;
    align-content: space-around;
    justify-content: space-around;
}

@font-face {
    font-family: urbanistFont;
    src: url(Fonts/Urbanist-Light.woff);
    /* vairāk info: https://github.com/coreywho/Urbanist un https://www.w3schools.com/css/css3_fonts.asp*/
  }

.logo {
    display: flex;
    align-self: start;
    margin-left: 50px;
}
#top-icon{
    margin-top:5px;
}
#top-logo{
    margin-top:5px;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 50px;
    
}
.menu-items :nth-child(n){
    margin-left: 10px;
}
.search-bar {
    display: flex;
    align-content: center;
    justify-content: center;
}

#menu-search {
    height: 29px;
    width: 215px;
    border-radius: 3px;
    background: #fafafa;
    border: 1px solid rgba(219, 219, 219, 1);
    text-align: center;
    background-position-x: 35%;
    background-position-y: 50%;
    background-image: url('images/search.svg');
    background-repeat: no-repeat;      
}
.main-frame {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-top: 30px;
}
.profile-frame {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 30% 70%;
    align-content: center;
    justify-content: start;
    border-bottom: black 1px solid;
}
#profile-picture{
    margin: 0 30px 0 0;
}


#prof-pic{
    /* profila bilde */
    height: 150px;
    max-height: 170px;
    object-fit: contain;
    border-radius: 50%;
}
.instagram-text {
    grid-column-start: 2;
    grid-row-start: 1;
    display: inline-flex;
    align-self: center;
    justify-self: start;
    font-family: urbanistFont;
    /* bija: font-family: Helvetica Neue;*/
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
}
.profile-buttons {
    grid-column-start: 2;
    grid-row-start: 1;
    display: inline-flex;
    align-self: center;
    justify-self: start;
    margin-left: 100px;
    border: none;
    text-decoration: none;
}
.follow-button {
    /* background: #4094EF;
    border-radius: 3px;
    border-color: #4094EF;
    text-align: center;
    color: #ffffff;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold; */
    width: 96px;
    height: 28px;
    background: #0094f6;
    background-color: #0094f6;
    border-radius:3px;
    border:none;
	display:inline-block;
	color:#ffffff;
	font-family:urbanistFont;
	font-size:15px;
	font-weight:bold;
    text-decoration:none;
    text-align: center;
    margin-right:5px;
}
.small-button {
    width: 33px;
    height: 28px;
    left: 762px;
    top: 90px;
    background: #0094f6;
    background-color: #0094f6;
    border-radius:3px;
    border:none;
	display:inline-block;
    text-decoration:none;
    text-align: center;
    margin-right:5px;
    background-image: url('images/second-button.svg');
    background-repeat: no-repeat;
    text-align: center;
    background-position-x: 50%;
    background-position-y: 50%;
    margin-right:5px;
}

